<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper Xml -->
<mapper namespace="com.project.fp01.mappers.MemberMapper">

    <!-- MemberMapepr id = "joinMember" -->
    <insert id="joinMember" parameterType="com.project.fp01.dto.MemberDTO">
        INSERT INTO tbl_member (email, memberPw, memberName, memberPhone)
        VALUES (#{email},#{memberPw},#{memberName},#{memberPhone})
    </insert>

    <!-- MemberMapper id = "readMember" -->
    <select id="readMember" parameterType="java.lang.String">
        SELECT * FROM tbl_member
        WHERE email = #{email}
    </select>

   <!-- MemberMapper id = "deleteMember" -->
    <delete id="deleteMember" parameterType="java.lang.String">
        DELETE FROM tbl_member
        WHERE email = #{email}
    </delete>


    

    <!-- MemberMapper id = "listMember" -->

    <!-- MemberMapper id = "updateMember" -->

</mapper>